<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/css/stylesheettwo.css" />
    <title>Team Magikarp!</title>
  </head>
  <body
    style="
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    "
  >
    <div
      class=""
      style="background-color: transparent; color: white; margin-bottom: 100px"
    >
      <h1
        class="text-center"
        style="background-color: black; color: white; margin-bottom: 20px"
      >
        Which game mode?
      </h1>
      <div style="display: flex; justify-content: center">
        <a
          class="btn btn-secondary"
          style="margin-right: 20px"
          href="/standard"
          role="button"
          >Standard</a
        >
        <a class="btn btn-primary" href="/passnplay" role="button"
          >Pass and Play</a
        >
      </div>
    </div>
  </body>
</html>
