{% extends "base.html" %}

{% block title %} Register {% endblock %}

{% block body %}
<form method="post">
  <fieldset class="form-container dyn-small shadow">
    <legend> Enter your username and password </legend>
    {% if error is not none %}
      <p style="color:red;">{{ error }}</p>
    {% endif %}
    <!-- The pattern /\S+/ is regex for "no whitespace characters" -->
    <input
      placeholder="Username"
      id="username"
      name="username"
      required
      pattern="\S+"
    />
    <input
      placeholder="Password"
      id="password"
      name="password"
      type="password"
      required
      pattern="\S+"
    />
    <input type="submit" value="Signup" />
  </fieldset>
</form>
<a id="register" class="flex-center" href = "/login">Already have an account? Login!</a>
{% endblock %}
